.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #eaefef;
  max-width: 900px;
  margin: 0 auto;
}

.main h2 {
  flex-basis: 100%;
  font-size: 1.5em;
  /* margin: 0; */
  padding: 25px 5px;
  color: #3d3c3c;
  background: #eaefef;
}

.main h3 {
  font-size: 1em;
}

.book {
  overflow: auto;
  margin: 25px 0;
  display: flex;
  flex-direction: flex;
  position: relative;
} 

.book ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .book h3 p {
  
} */

.book img {
  display: block;
  width: 180px;
  float: left;
  margin: 0 10px;
}

.descripction {
  width: 100%;
  height: 20%;
}